@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7fb;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #1e3a8a;
  box-shadow: 0 0 8px black;
}

.logo-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.imgdiv {
  display: flex;
  padding-left: 4vw;
}

.web-name {
  display: flex;
  font-size: 1.7rem;
  font-weight: bold;
}

#VIT-head {
  color: gold;
}

#connect-head {
  color: gold;
}

#web-logo {
  height: 7vh;
  margin-bottom: 10px;
}

.main-links {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5vw;
  font-size: 1.2rem;
  gap: 2.5vw;
}

.nav-links {
  color: gold;
  font-weight: 800;
  transition: 0.5s;
}

.nav-links:hover {
  text-shadow: 0 0 30px black;
}

#noti-icon {
  height: 30px;
  cursor: pointer;
}

.nav-btns {
  padding: 0.6rem;
  width: 100px;
  border-radius: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.5s ease;
}

.nav-btns:hover {
  /* background-color: #003399; */
  color: gold;
  box-shadow: 0 0 5px 1px black;
}

.content {
  margin-top: 10vh;
}

.main {
  /* margin-top: 10vh; */
  height: 90vh;
  background-image: url("assets/vitimg.jpg");
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url("images/vitimgtrial.jpg"); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  gap: 70px;
}

.head {
  font-size: 100px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 15px black;
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  width: 80vw;
  height: 60vh;
  gap: 90px;
  border-radius: 1.5rem;
  box-shadow: 0 0 12px black;
}

.vit-info {
  margin-top: 30px;
  font-size: 1.5rem;
}

.explore-btn {
  padding: 1rem;
  width: 15vw;
  font-size: 1.2rem;
  background: #1e3a8a;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.5s ease;
  font-weight: bold;
  border-radius: 1.5rem;
}

.explore-btn:hover {
  background: #003ecb;
  box-shadow: 0 0 20px 20px black;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(248, 248, 248);
  padding: 50px;
}

.contact-head {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-text {
  width: 700px;
  text-align: center;
  color: rgb(94, 94, 94);
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
}

.send-msg {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 37vw;
  gap: 10px;
}

.input-head {
  font-size: 18px;
  font-weight: 450;
}

.cont-input {
  padding: 8px;
  padding-left: 12px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(230, 230, 233);
  font-weight: 500;
  transition: 0.2s;
  font-size: 1.01rem;
}

.cont-input:focus {
  /* border: 1px solid grey; */
  box-shadow: 0 0 8px grey;
  outline: none;
}

#msg-input {
  height: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

#email-head {
  margin-top: 10px;
}

#msg-head {
  margin-top: 10px;
}

#send-btn {
  margin-top: 10px;
}

#send-btn {
  padding: 0.3rem;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  background-color: #0056ff;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
  height: 35px;
}

#send-btn:hover {
  /* background-color: #003ecb; */
  box-shadow: 0 0 8px grey;
}

.gitouch {
  width: 37vw;
  padding: 8px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.git-head {
  font-size: 18px;
}

.our-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.git-icon {
  background-color: rgba(0, 86, 255, 0.1);
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 1rem;
}

.icon-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 18vw;
}

.info {
  color: rgb(94, 94, 94);
}

.icons {
  height: 30px;
}

.ohours {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 1.5rem;
}

.ohours-text {
  color: rgb(94, 94, 94);
}

#ohours-head {
  color: black;
}

.arReserved {
  position: absolute;
  bottom: 0;
  text-align: center;
  justify-content: center;
  height: 70px;
  color: rgb(76, 76, 76);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
