* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7fb;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(30, 58, 158, 1);
  box-shadow: 0 0 8px black;
  z-index: 99;
}

.logo-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.imgdiv {
  display: flex;
  padding-left: 4vw;
}

.web-name {
  display: flex;
  font-size: 1.7rem;
  font-weight: bold;
}

#VIT-head {
  color: gold;
}

#connect-head {
  color: gold;
}

#web-logo {
  height: 7vh;
  margin-bottom: 10px;
}

.main-links {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5vw;
  font-size: 1.2rem;
  gap: 1.5vw;
}

.nav-links {
  color: gold;
  font-weight: 800;
  transition: 0.5s;
}

.nav-links:hover {
  text-shadow: 0 0 30px black;
}

#noti-icon {
  height: 30px;
  cursor: pointer;
}

.nav-btns {
  padding: 0.6rem;
  width: 100px;
  border-radius: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.5s ease;
}

.nav-btns:hover {
  /* background-color: #003399; */
  color: gold;
  box-shadow: 0 0 5px 1px black;
}

.content {
  margin-top: 10vh;
}

.main {
  height: 90vh;
  background-image: url("assets/vitimg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  gap: 70px;
}

.head {
  font-size: 100px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 15px black;
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  padding: 40px;
  width: 80vw;
  height: 60vh;
  gap: 90px;
  border-radius: 1.5rem;
  box-shadow: 0 0 12px black;
}

.vit-info {
  margin-top: 30px;
  font-size: 1.5rem;
}

.explore-btn {
  padding: 1rem;
  width: 15vw;
  font-size: 1.2rem;
  background: #1e3a8a;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.5s ease;
  font-weight: bold;
  border-radius: 1.5rem;
}

.explore-btn:hover {
  background: #003ecb;
  box-shadow: 0 0 20px 20px black;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(248, 248, 248);
  padding: 50px;
}

.contact-head {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-text {
  width: 700px;
  text-align: center;
  color: rgb(94, 94, 94);
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
}

.send-msg {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 37vw;
  gap: 10px;
}

.input-head {
  font-size: 18px;
  font-weight: 450;
}

.cont-input {
  padding: 8px;
  padding-left: 12px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(230, 230, 233);
  font-weight: 500;
  transition: 0.2s;
  font-size: 1.01rem;
}

.cont-input:focus {
  /* border: 1px solid grey; */
  box-shadow: 0 0 8px grey;
  outline: none;
}

#msg-input {
  height: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

#email-head {
  margin-top: 10px;
}

#msg-head {
  margin-top: 10px;
}

#send-btn {
  margin-top: 10px;
}

#send-btn {
  padding: 0.3rem;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  background-color: #0056ff;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
  height: 35px;
}

#send-btn:hover {
  /* background-color: #003ecb; */
  box-shadow: 0 0 8px grey;
}

.gitouch {
  width: 37vw;
  padding: 8px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.git-head {
  font-size: 18px;
}

.our-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.git-icon {
  background-color: rgba(0, 86, 255, 0.1);
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 1rem;
}

.icon-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 18vw;
}

.info {
  color: rgb(94, 94, 94);
}

.icons {
  height: 30px;
}

.ohours {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 1.5rem;
}

.ohours-text {
  color: rgb(94, 94, 94);
}

#ohours-head {
  color: black;
}

/* .arReserved {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 70px;
  color: rgb(76, 76, 76);
} */

.clubs-head {
  display: flex;
  flex-direction: row;
  gap: 45vw;
  width: 90vw;
  /* background-color: #242424; */
}

.select-btn {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.club-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin: 10px;
}

.club-search {
  border: 1px solid transparent;
}

.club-search:focus {
  border: 1px solid gold;
}
